{% extends "base.html"%}
{% load static %}

{% block content %}
    <div class="nav_items" style="height :50px; margin-bottom:33px;">
			<ul >
				<li><a href="{% url 'portfolio:add_home' %}" ><span>home</span></a></li>
				<li><a href="{% url 'portfolio:add_works' %}"><span>works</span></a></li>
				<li><a href="{% url 'portfolio:add_skills' %}"><span>skills</span></a></li>
                <li><a href="{% url 'portfolio:add_category' %}"><span>category</span></a></li>

            </ul>
</div>

  <form action="" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" >
  </form>


{% endblock %}