{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-10 offset-lg-1">
    <div class="testimonials_container">
        <div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
            <div class="testimonials_content">
                <div> For more information <a href="https://www.github.com/selvianl"> click...</a></div>
{% for object in object_list%}
    Name: {{ object.name }}<br>
    Description: {{ object.description }}
    <img src="/{{ object.logo }}" alt="" />
{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{%endblock%}