{% extends 'portfolio/templates/base.html' %}
{% load static %}
{% block content %}
       <div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="testimonials_container">
						<div class="testimonials_container_inner"></div>

						<!-- Testimonials Slider -->

						<div class="owl-carousel owl-theme testimonials_slider">

							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
    {% for object in object_list%}
        Name: {{ object.name }}<br>
        Description: {{ object.description }}
        <img src="/{{ object.logo }}" alt="" />
             {% endfor %}
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

{%endblock%}