{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="testimonials_container">
            <div class="testimonials_container_inner">

            </div>
                <div class="owl-carousel owl-theme testimonials_slider">
                    <div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="testimonials_content">
{% for object in object_list%}
    {{ object.title }}<br>
    {{ object.post }}
{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}